/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    

}

body {
    font-family: "Open Sans", Arial, sans-serif;
    max-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}
header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #777777;
    background-color: #fcfcfc;
    
}

.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    

}
   
.profile-image {
    
    border-radius: 50%;
    overflow: hidden;
    height: 210px;
    width: 30%; 
}


.profile-user-settings {
    flex-grow: 1;
}
.profile-user-name {
    font-size: 25px;
    font-weight: 600;
}
.profile-stats ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px ;
    
}

.profile-stats li {
    margin-right: 20px;
}

.profile-bio {

    font-size: 13px;
    text-align: center;
    
}


.profile-real-name{
    font-weight: 600;
}

.profile-stat-count {
     padding: 10px;
     font-weight: 600;
}
.profile-stats{
    font-size: 11px;
    
}


.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr)) ;
    gap: 20px;
    padding-top: 20px;
    
}

.gallery-item {
    position: relative;
    cursor: pointer;
}

.gallery-image{
    width:100%;
    display: block;
}


.gallery-item-info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px;
    font-size: 12px;
    transition: all 0.3s;
}
.gallery-item:hover .gallery-item-info {
    font-size: 25px;
    font-weight: 500;
    

}


.gallery-item-info ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

}
.gallery-item-info li {
    margin-right: 10px;
}

.gallery-item-likes i, .gallery-item-comments i {
    margin-right: 5px;
}

.gallery-item-type{
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 5px;
    border-radius: 20%;

}
.btn {
    background-color: #d3d1d1;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15%;
}
.btn:hover {
    background-color: #777777;
    cursor: pointer;
}
@media (max-width: 750px) {
    .profile {
        height : 50%;
        align-items: flex-start;
    }
    .profile-image{
        margin-right: 0;
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
    }
    .profile-user-settings, .profile-stats {
        width: 100%;
        text-align: center;

    }
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

}